<h3>My Events</h3>
<% @my_events.each do |event| %>
<div>
  <td colspan="3"><%= link_to CGI.unescapeHTML(event.name).html_safe, event_path(event.id) %><br/>
  <%= event.city ||event.region %>
  <%=  Time.at(event.starts_at.to_i).strftime("%b %e, %Y at %l:%M%p") rescue ""%></td>
</div>
<% end %>