<table class="popular-events">
  <tr>
    <th colspan="3">Popular Events</th>
  </tr>
  <% @popular_events.each do |event| %>
  <tr>
    <td class="title"><%= link_to event.safe_name, event_path(event.id) %></td>
    <td class="location"><%= event.city || event.region %></td>
    <td class="date"><%=  Time.at(event.starts_at.to_i).strftime("%b %e, %Y at %l:%M%p") rescue "" %></td>
  </tr>
<% end %>
</table>