<table class="popular-events">
  <tr>
    <th colspan="3">Popular Events</th>
  </tr>
  <% @popular_events.each do |event| %>
  <tr>
    <td class="title"><div><%= link_to event.safe_name, event_path(event.id) %></div><div class="location"><%= event.city || event.region %></div></td>
    <td class="date"><%=  Time.at(event.starts_at.to_i).strftime("%b %e, %Y at %l:%M%p") rescue "" %></td>
    <td class="attend">
      <% unless event.attendees.include?(current_user) %>
      <%= link_to 'Attend', attend_event_path(event.id) %>
      <% else %>
      <strong>Attending</strong>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>