log/
tmp/
db/schema.rb
config/database.yml
nbproject/
config/development.sphinx.conf
db/sphinx/
public/system
config/environments/development.rb
.DS_Store?
config/initializers/secret_token.rb
lib/tasks/.DS_Store
lib/.DS_Store