html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, /* pre, */
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, /* sub, sup, */ tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
    color: #000000;
    font-family: Helvetica, Arial;
    font-size: 13px;
    font-weight: normal;
    
	background: #FFFFFF;
	background-image: url("../images/background-top.jpg");
	background-repeat: repeat-x;
}

body.home {
	background-image: url("../images/background-home-top.jpg");
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

p {
    line-height: 1.4em;
    font-size: 13px;
    padding: 7px 0px;
}

p.spacer {
	line-height: 0px;
	padding: 0px 0px;
	height: 20px;
}

em {
    font-style: italic;
}

a, a:visited, a:active, a:focus {
    color: #22692c;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #22692c;
    font-weight: bold;
    text-decoration: underline;
}

strong, .strong {
    font-weight: bold;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    letter-spacing: -1px;
	color: #176416;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
	color: #4e4e4e;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
	color: #4e4e4e;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
	color: #4e4e4e;
}


.wrapper {
	width: 940px;
	padding: 0px 10px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper .header {
	height: 50px;
	padding-top: 1px;
	overflow: hidden;
}

.wrapper .header .logo {
	margin: 12px 0px;
	display: block;
}

.wrapper .header .navigation {
	float: right;
	font-family: "Helvetica", Arial;
	text-transform: uppercase;
	text-shadow: #132a13 1px 1px 1px;
	color: #FFFFFF;
	
	margin: 15px 0px;
}

.wrapper .header .navigation li {
	float: left;
	padding: 3px 9px;
}

.wrapper .header .navigation li.first {
	padding-left: 0px;
}

.wrapper .header .navigation li.last {
	padding-right: 0px;
}

.wrapper .header .navigation li.sep {
	width: 2px;
	max-width: 2px;
	height: 21px;
	overflow: hidden;
	
	padding: 0px 7px;
	
	background-image: url("../images/header-navigation-sep.gif");
	background-repeat: no-repeat;
	background-position: center;
}

.wrapper .header .navigation li a {
	color: #FFFFFF;
	font-family: "Helvetica", Arial;
	text-decoration: none;
}

.wrapper .header .navigation li a:hover, .wrapper .header .navigation li a:focus,
.wrapper .header .navigation li:hover a, .wrapper .header .navigation li.active a,
.wrapper .header .navigation li.highlight a,
.wrapper .header .navigation li a.active {
	color: #c8eac7;
}

.wrapper .footer {
	background: #FFFFFF;
	background-image: url("../images/footer-background.jpg");
	background-repeat: repeat-x;
	background-position: top left;
	padding: 10px 10px 25px 10px;
	
	font-size: 11px;
	font-weight: normal;
	color: #B1B1B1;
	
	margin-top: 25px;
}

.wrapper .footer p {
	font-size: inherit;
}

.wrapper .footer a, .wrapper .footer a:visited, .wrapper .footer a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #B1B1B1;
}

.wrapper .footer a:hover, .wrapper .footer a:focus {
	text-decoration: none;
	color: #B1B1B1;
}

.wrapper .footer .links {
	float: right;
	padding: 7px 0px;
}

.wrapper .footer .links li {
	float: left;
	padding: 0px 10px;
}

.wrapper .footer .links li.first {
	padding-left: 0px;
}

.wrapper .footer .links li.last {
	padding-right: 0px;
}

.wrapper .content .banner-area {
	height: 103px;
	padding: 15px 0px;
	margin-bottom: 25px;
}

.wrapper .content-two-columns .banner-area h1 {
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	
	margin: 32px 0px;
	text-shadow: #132a13 1px 1px 1px;
}

.wrapper .content-two-columns {
}

.wrapper .content-two-columns .column-wrapper {
	background-image: url("../images/right-column-background.gif");
	background-repeat: repeat-y;
	background-position: right 150px;
}

.wrapper .content-two-columns .left-column {
	width: 625px;
	float: left;
	
	margin-right: 35px;
}

.wrapper .content-two-columns .right-column {
	width: 240px;
	float: left;
	padding: 0px 20px;
	
	background-image: url("../images/right-column-top-background.png");
	background-position: top right;
	background-repeat: no-repeat;
}

.wrapper .content-two-columns .column-wrapper .right-column-bg-bottom-fix {
	background-image: url("../images/right-column-bottom-background.png");
	background-position: bottom right;
	background-repeat: no-repeat;
	
	width: 280px;
	height: 64px;
	
	position: absolute;
	margin-left: 660px;
	margin-top: -64px;
	
	
	z-index: 9999;
}

.wrapper .content-home { }

.wrapper .content-home .banner-area {
	height: 306px;
	color: #FFFFFF;
	padding-top: 32px;
}

.wrapper .content-home .banner-area .left {
	float: left;
	width: 470px;
	margin-right: 94px;
}

.wrapper .content-home .banner-area .left h1 {
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
	
	text-shadow: #132a13 1px 1px 1px;
	margin-bottom: 15px;
}

.wrapper .content-home .banner-area .left p {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: #132a13 1px 1px 1px;
}

.wrapper .content-home .banner-area .left .event-tick {
	margin-top: 95px;
	
	font-size: 34px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: #132a13 1px 1px 1px;
}

.wrapper .content-home .banner-area .left .event-tick span {
	font-size: 12px;
}

.wrapper .content.home .banner-area .right {
	float: left;
	width: 376px;
}

.wrapper .content-home .banner-area .right h2 {
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: #132a13 1px 1px 1px;
	letter-spacing: 0px;
}

.wrapper .content-home .banner-area .right .feature-list {
	margin-top: 10px;	
}

.wrapper .content-home .banner-area .right .feature-list li {
	padding: 5px 0px 10px 0px;
	margin-left: 35px;
}

.wrapper .content-home .banner-area .right .feature-list li#connect-with-others h3 {
	background-image: url("../images/group-ppl-white.png");
	background-repeat: no-repeat;
	background-position: 530px;
	height: 21px;
}

.wrapper .content-home .banner-area .right .feature-list li#manage-events h3 {
	background-image: url("../images/tags-white.png");
	background-repeat: no-repeat;
	background-position: 530px;
	height: 25px;
}

.wrapper .content-home .banner-area .right .feature-list h3 {
	font-size: 14px;
	font-weight: bold;
	color: #C8EAC7;
	letter-spacing: 0px;
	text-indent: 45px;
	line-height: 30px;
}

.wrapper .content-home .banner-area .right .feature-list p {
	font-size: 12px;
	padding: 7px 0px;
	font-family: Arial;
}

.wrapper .content-home .banner-area .right .create-event-button {
	margin-top: 19px;
	margin-right: 45px;
	float: right;
}

.wrapper .content-home .content-wrapper { }

.wrapper .content-home .content-wrapper .left-column {
	width: 260px;
	margin-right: 30px;
	float: left;
}

.wrapper .content-home .content-wrapper .right-column {
	width: 650px;
	float: left;
}



.fleft { float: left; }
.fright { float: right; }

.clear-fix {
	clear: both;
	height: 0px;
	max-height: 0px;
	line-height: 0px;
	display: block;
	overflow: hidden;
}

.form {
	background: #F6F6F6;
	border-color: #E2E2E2 #E2E2E2 #C9C9C9;
	border-style: solid;
	border-width: 1px;
	padding: 15px;
}

.form p {
	padding: 5px 0px;
}

.form p label {
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}

.form p input, .form p textarea {
	display: block;
}

.form p input.check {
	display: inline-block;
}

.form p span.required {
	display: inline-block;
	color: #FF0000;
}

.form p.error {
	color: #FF0000;
}

p.small {
	font-size: 11px;
	font-weight: normal;
}

input[type="text"],
input[type="password"]
{
    padding: 6px 5px;
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid #c9c9c9;
    
    color: #515151;
    font-size: 12px;
    font-family: Tahoma, Arial, sans-serif;
    
    width: 65%;
}


.search-form {
	margin-bottom: 5px;
	padding: 15px 15px;
	background: #f7f7f7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.search-form label,
.search-form input {
	display: inline;
}

.search-form label {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #5b5b5b;
}

.wrapper .content-home .content-wrapper .search-form {
	margin-bottom: 15px;
}

.wrapper .content-home .content-wrapper .search-form input[type="text"] {
	width: 218px;
	padding: 3px 2px;
}

.wrapper .content-two-columns .column-wrapper .left-column .search-form input[type="text"] {
	width: 205px;
	padding: 3px 2px;
}

.wrapper .content-home .content-wrapper .popular-events {
	padding: 1px 1px;
	border: 1px solid #e6e6e6;
	color: #5b5b5b;
}

.wrapper .content-home .content-wrapper .popular-events tr th {
	padding: 10px 15px;
	background: #f7f7f7;
	color: #5b5b5b;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #e6e6e6;
}

.wrapper .content-home .content-wrapper .popular-events tr td {
	padding: 10px 15px;
}

.wrapper .content-home .content-wrapper .popular-events tr td.attend {
	text-transform: uppercase;
	text-align: right;
	width: 20%;
}

.wrapper .content-home .content-wrapper .popular-events tr td.date {
	width: 20%;
	text-align: center;
}

.wrapper .content-home .content-wrapper .popular-events tr td.title {
	width: 60%;
}

.wrapper .content-two-columns .column-wrapper .left-column p.cant-find {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 2px 0px;
	color: #5b5b5b;
}

.message{ background-color: #EEEEEE; border: gray solid 1px; margin: 5px;}
.message .icon{ float: left; padding-right: 10px; height: 40px; width: 40px; background-color: #FFFFFF; }
.message .info{ background-color:#CCCCCC;
font-size:15px;
font-weight:bold;
height:21px;
margin-left:40px;
padding-left:18px;
padding-top:2px; }
.message .body{ clear:both; padding: 5px; }
.message .subinfo{ background-color:#CCCCCC;
color:#666666;
font-size:10px;
font-style:italic;
height:16px;
margin-left:40px;
padding-left:19px;
padding-top:1px;}

img.rating_star{ height: 15px; width: 15px; }


.user_profile{ background-color: #EEEEEE; padding: 5px;}
.user_profile .icon{ float: left; padding-top: 5px; height: 40px; width: 40px; }
.user_profile .icon img{ max-height: 40px; max-width: 40px;}
.user_profile .name, .user_profile .location, .user_profile .stars{ margin-left: 50px;}
.user_profile .summary { font-size: small; font-style: italic;}

.group_attendee{ background-color: #DDDDDD; margin-bottom: 10px; padding-left: 5px;}

.search_result{ background-color: #EEEEEE; border: gray solid 1px; margin: 5px; padding: 2px; }
.search_result .date{ background-color:#CCCCCC; padding: 2px; }

