<h2>Messages</h2>
<% if group.comments.blank? %>
  There are currently no messages.
<% else %>
  <% group.comments.original.each do |comment|  %>
    <%= render :partial => 'shared/comment', :locals => {:comment => comment, :group => group} %>
  <% end unless group.comments.nil?%>
<% end %>

<% if group.users.include?(current_user) %>
  <%= render :partial => 'shared/comment_form' %>
<% end %>