What resources would you like to share? <br />
<% form_tag update_sharables_path(@group.id), :remote => true do %>
  <% Sharable.all.each do |sharable| %>
    <% checked = @my_sharables.include?(sharable) %>
    <%= check_box_tag(sharable.slug, '', checked, :class => 'submittable') %>
    <%= label_tag(sharable.slug, sharable.name) %>
  <% end %>
<% end %>
<div id="resources_sharing">
  <%= render :partial => 'shared/resources_sharing' %>
</div>