<h3>Attendees</h3>
Only show attendees sharing:<br />
<% form_tag filter_attendees_path(@event.id), :remote => true do %>
  <% Sharable.all.each do |sharable| %>
    <%= check_box_tag(sharable.slug, '', false, :class => 'submittable') %>
    <%= label_tag(sharable.slug, sharable.name) %>
  <% end %>
<% end %>
<br />
<div id="filtered_attendees">
  <%= render :partial => 'filtered_attendees' %>
</div>