<% unless current_user.nil? || @groups.for_user(current_user).blank? %>
  <h4>My Groups</h4>
  <% @groups.for_user(current_user).each do |group| %>
    <%= render :partial => 'group', :locals => {:group => group} %>
  <% end %>
<% end %>