<% set_title 'Find Events' %>
<%= render "shared/search_box" %>
<p class="cant-find">Can't find what you're looking for? <%= link_to "Add a new event", event_create_path %></p>
<%= render :partial => "shared/event_list", :locals => { :events => @events } %>
