<% set_title 'User Account' %>
<% unless @user.nil? %>
<h1>Thank You</h1>
<p>Your registration has been confirmed. You may now <%= link_to 'login', login_path %>.</p>
<% else %>
<h1>Yikes! Something went wrong.</h1>
<p>The specified confirmation token is invalid. If the problem continues, please contact the administrator.</p>
<% end %>
