<% set_title 'Forgot Password' %>

<% unless flash[:message].nil? %>
  <%= flash[:message] %><br /><br />
<% end %>

<div class="form">
  <%= form_tag do %>
  <p><label id="email">Enter email address to reset password </label><%= text_field_tag :email %></p>
  <p class="submit"><%= submit_tag "Submit" %></p>
  <% end %>
</div>